# taskwarrior-needs-hierarchy commad-alias bindings
# to "install" them, include this file from your .taskrc, with a line like;
#
# include ~/.task/needs-alias.data
# (your path/to/file)
#
# These filter aliases are used to temporarily apply the needs-limiting filter,
# but allows tasks that are due today, as well as those until:tomorrow, so
# that while limiting for the most basic needs, you won't miss appointments or
# last-chances to do things, before they are auto-deleted.
#
# used like;
# task :n2 calls list
# 

uda.need.label=N
uda.need.type=string
uda.need.values=1,2,3,4,5,6
uda.need.default=4

alias.needs=execute needs
alias.:n1=! ((need.over:1 or need.under:1) and ! (due:today or until:tomorrow))
alias.:n2=! ((need.over:2 or need.under:1) and ! (due:today or until:tomorrow))
alias.:n3=! ((need.over:3 or need.under:1) and ! (due:today or until:tomorrow))
alias.:n4=! ((need.over:4 or need.under:1) and ! (due:today or until:tomorrow))
alias.:n5=! ((need.over:5 or need.under:1) and ! (due:today or until:tomorrow))
alias.:n6=need.any:
alias.:n0=need.none:

urgency.uda.need.1.coefficient=10
urgency.uda.need.2.coefficient=8
urgency.uda.need.3.coefficient=6
urgency.uda.need.4.coefficient=2
urgency.uda.need.5.coefficient=-2
urgency.uda.need.6.coefficient=-6
