# taskwarrior-needs-hierarchy commad-alias bindings
# to "install" them, include this file from your .taskrc, with a line like;
#
# include ~/.task/need.rc
# (your path/to/file)
#
# These filter aliases are used to temporarily apply the needs-limiting filter,
# but allows tasks that are due today, as well as those until:tomorrow, so
# that while limiting for the most basic needs, you won't miss appointments or
# last-chances to do things, before they are auto-deleted.
#
# used like;
# task :n2 calls list
# 

uda.need.label=N
uda.need.type=string
uda.need.values=1,2,3,4,5,6
uda.need.default=4

alias.needs=execute needs
alias.:n1=+PENDING and ( need:1 or due:today or until:tomorrow )
#NOTE: "over" and "under" are logically reversed here, it has something to do with the 
# string-type uda, see: TW-1673 
alias.:n2=+PENDING and (( need.under:0 and need.over:3 ) or due:today or until:tomorrow )
alias.:n3=+PENDING and (( need.under:0 and need.over:4 ) or due:today or until:tomorrow )
alias.:n4=+PENDING and (( need.under:0 and need.over:5 ) or due:today or until:tomorrow )
alias.:n5=+PENDING and (( need.under:3 and need.over:5 ) or due:today or until:tomorrow )
alias.:n6=+PENDING and (( need.under:3 and need.over:6 )  or due:today or until:tommorow )
alias.:n0=need.none:

urgency.uda.need.1.coefficient=10
urgency.uda.need.2.coefficient=8
urgency.uda.need.3.coefficient=6
urgency.uda.need.4.coefficient=2
urgency.uda.need.5.coefficient=-2
urgency.uda.need.6.coefficient=-6
